@import 'libs/normalize.styl'

@import 'blocks/font.styl'
@import 'blocks/btn.styl'
@import 'blocks/mixins.styl'

@import 'blocks/top-line.styl'
@import 'blocks/header.styl'
@import 'blocks/search.styl'
@import 'blocks/cart.styl'
@import 'blocks/menu.styl'

@import 'blocks/banner-main.styl'
@import 'blocks/banner-side.styl'
@import 'blocks/category-shop.styl'
@import 'blocks/product.styl'
@import 'blocks/banner-size.styl'
@import 'blocks/banner-sale.styl'

@import 'blocks/news-letter.styl'

@import 'layout/l-home.styl'
@import 'layout/l-grid.styl'