.apparel
	&__logo
		float left
		margin-right 10px
	&__text
		font-family Roboto
		color #666
		margin 0
		margin-top 15px
		font-size 14px
		&_grey
			font-size 18px
		&_blue
			font-size 18px
			color #2c2cdb
		&_orange
			font-size 18px
			color #d1611b
			font-weight 700
		&_link
			font-size 14px
			color #d1611b
			text-decoration underline
			&:hover
				color lightness(#d1611b, 35%)