.category-shop
	height 239px
	padding-left 19px
	padding-top 20px
	box-sizing border-box
	&_mens
		background url(../img/mensShop__img.png) 50% no-repeat
		background-size cover
	&_womens
		background url(../img/womensShop__img.png) 50% no-repeat
		background-size cover
	&_kids
		background url(../img/kidsShop__img.png) 50% no-repeat
		background-size cover
	&_access
		background url(../img/accessShop__img.png) 50% no-repeat
		background-size cover
	&__title
		color black
		font-size 30px
		font-weight 800
		text-transform uppercase
		margin-top 0
	&__link
		color purple
		font-size 14px
		font-weight 700
		text-transform uppercase
		text-decoration underline
		&:hover
			color #550155