.footer-info
	&__title
		font-size 16px
		font-weight 700
		text-transform uppercase
		margin-top 0
		margin-bottom 17px
	&__text
		font-size 12px
		color #999999
		margin-bottom 21px
		line-height 18px
	&__social
		padding-left 0
	&__icon
		list-style none
		display inline-block
		margin-right 27px
		trans()
		&:hover
			transform scale(1.075)
		&:active
			transform scale(.95)