.news-letter
	background-color #2e1153
	color white
	padding 20px 0
	&__title
		font-size 30px
		font-weight 800
		text-transform uppercase
		margin 0
		margin-bottom 5px
	&__text
		font-size 12px
		font-weight 400
		margin 0
	&__input-wrap
		display block
		text-align center
		margin-top 20px
	&__input-icon
		display inline-block
		background white url("../img/icon/letter.png") center no-repeat
		height 45px
		width 48px
		vertical-align top
		border-radius 5px 0 0 5px
	&__input
		font-size 15px
		border none
		background-color white
		min-width 240px
		height 45px
		box-sizing border-box
		outline none
		border-radius 0 5px 5px 0
		margin-bottom 10px
	&__icon
		color green
	&__btn
		font-size 15px
		height 45px
		padding 0 14px
		text-transform uppercase
		background-color #88d317
		font-weight 800
		border none
		border-radius 5px
		color white
		&:hover
			cursor pointer
			background-color #77b716